# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lap2D_5pt_n1000.mtx
lap2D_5pt_n2000.mtx

*.data*
weak_matrix*

extra.cu
extra.cc

# For final project
water_drops*
analytical_tsunami*